<?xml version="1.0"?>

<model>
  <name>iris_with_rgb_camera</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Javier Becerril</name>
    <email>javier.becerril01@utrgv.edu</email>
  </author>
  <author>
    <name>Michael Burri</name>
  </author>
  <author>
    <name>Mina Kamel</name>
  </author>
  <author>
    <name>Janosch Nikolic</name>
  </author>
  <author>
    <name>Markus Achtelik</name>
  </author>

  <maintainer email="hsu@osrfoundation.org">john hsu</maintainer>

  <description>
    Starting with iris_with_standoffs
    add LiftDragPlugin
    add ArduCopterPlugin
    Iris with ArduPilot + RGB camera for AprilTag lock-on
  </description>
  <depend>
    <model>
      <uri>model://iris_with_standoffs</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
